<template name="clericSetup">
  <p>Divine domain choice: {{> dropdown options=divineDomains className='divine-domain'}}</p>
  <p>Bonus spells at lvl 1: {{spells}}</p>
  {{#if extraDoubleProficiencies}}
    <p>
      Choose extra double proficiencies
      {{#each prof in proficiencyChoices}}
        {{> dropdown options=availableProficiencies className='double-proficiency-select'}}
      {{/each}}
    </p>
  {{/if}}
  <p>
    Cantrips:
    {{> dropdown options=availableCantrips className='cantrip-select'}}
    {{> dropdown options=availableCantrips className='cantrip-select'}}
    {{> dropdown options=availableCantrips className='cantrip-select'}}
  </p>
</template>
