<template name="spell">
  <div class="spell-card">
    <div class="spell-name">{{spell.name}}</div>
    <table>
      <tr>
        <th>Level</th>
        <th>School</th>
        <th>Casting time</th>
        <th>Range</th>
        <th>Components</th>
        <th>Duration</th>
      </tr>
      <tr>
        <td>{{spell.level}}</td>
        <td>{{spell.school.name}}</td>
        <td>{{spell.casting_time}}</td>
        <td>{{spell.range}}</td>
        <td>{{spell.components}}</td>
        <td>{{spell.duration}}</td>
      </tr>
    </table>
    {{#each line in spell.desc}}
      <div>{{line}}</div>
    {{/each}}
  </div>
</template>
