form.character-create-form {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: Tahoma, Geneva, sans-serif;
  box-shadow: 0px 0px 5px 1px #aaa;
  padding: 30px;
  p.character-name-row {
    font-size: 20px;
    input {
      border: 2px solid black;
      padding: 5px;
      margin-left: 20px;
      font-size: 20px;
      width: 560px;
    }
  }
  p.gender-alignment {
    display: flex;
    justify-content: space-between;
    padding-left: 211px;
    padding-right: 18px;
    select {
      width: 140px;
      font-size: 15px;
    }
  }
  ul.abilities-list {
    li {
      display: flex;
      .score {
        min-width: 30px;
        text-align: center;
      }
    }
    .ability-label {
      width: 150px;
    }
  }
  h4 a.items-tab {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
  .items-buy {
    display: flex;
    ul {
      width: 50%;
      li {
        cursor: pointer;
        &:hover {
          background-color: yellow;
        }
      }
    }
  }
}
