form.character-create-form {
  ul.abilities-list {
    li {
      display: flex;
      .score {
        min-width: 30px;
        text-align: center;
      }
    }
    .ability-label {
      width: 150px;
    }
  }
}
