.character-sheet {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  .label {
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
  }
  .columns>div {
    margin-top: 20px;
  }

  .header-row {
    text-align:left;
    display: flex;
    .name-box, .class-race-box {
      width: 50%;
      border-style: double;
      padding: 10px;
    }
    .name-box {
      border-right: none;
    }
    .class-race-box {
      .class-level-background-player, .class-level-background-player-label, .race-alignment-xp, .race-alignment-xp-label {
        display: flex;
        &>div {
          width: 33%;
        }
      }
    }
  }
  .ability-scores {
    width: 10%;
    .ability-score {
      border-style: double;
      .score { font-size: 30px;}
      .mod {
        border: 1px solid black;
        border-radius: 40%;
      }
    }
  }
  .ac-hp {
    margin-left: 10px;
    width: 25%;
    .just-ac-hp {
      padding: 10px;
      background-color: #ddd;
      border-radius: 10px;
    }
    .ac-speed-row {
      display: flex;
      justify-content: space-between;
      & > div {
        background-color:white;
      }
    }
    .hp {
      .current-hp {
        background-color:white;
        border-style: double;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        .hp-max {
          color: #555;
          font-size: 10px;
        }
      }
      .temp-hp{
        background-color:white;
        border-style: double;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        .score { min-height: 50px; }
      }
    }
    .ac {
      border-style: double;
      border-bottom-right-radius: 40%;
      border-bottom-left-radius: 40%;
    }
    .initiative, .speed {
      border-style: double;
      border-radius: 10px;
    }
    .score {
      font-size: 30px;
      font-weight: bold;
    }
    .hit-dice-and-death-saves {
      display: flex;
      .hit-dice, .death-saves {
        border-style: double;
        border-radius: 10px;
        background-color: white;
      }
      .death-saves {
        .little-label {
          font-size: 11px;
          text-transform: uppercase;
          line-height: 20px;
          min-width: 70px;
          text-align: right;
          margin-right: 10px;
        }
        .successes, .failures {
          display: flex;
          .death-success, .death-fail {
            height: 20px;
            width: 20px;
            line-height: 20px;
            border-radius: 50%;
            border: 1px solid black;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .flavor {
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px;
    width: 25%;
    margin-left: 10px;
    .flavor-box {
      min-height: 100px;
      background-color: white;
      border: 1px solid black;
      margin-bottom: 10px;
      .text {
        min-height: 80px;
      }
    }
  }
  .proficiencies {
    margin-left: 10px;
    .horizontal-block {
      display: flex;
      line-height: 30px;
      margin-bottom: 10px;
      .detail {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid black;
      }
      .label {
        border: 2px solid black;
        border-left: 0;
        padding-left: 15px;
        margin-left: -11px;
      }
    }
    .skill-row, .saving-throw-row {
      text-align: left;
    }
    .saving-throws, .skill-list {
      border-radius: 10px;
      border-style: double;
      margin-bottom: 10px;
    }
  }
  .attacks-and-spellcasting {
    background-color: white;
    padding: 10px;
    border-style: double;
    margin-top: 10px;
  }
  .attack-row {
    display: flex;
    justify-content: space-between;
    &>div {
      background-color: #eee;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-overflow: hidden;
    }
    .name {
      width: 20%;
    }
    .range {
      width: 10%;
    }
    .bonus {
      width: 10%;
    }
    .damage {
      width: 50%;
    }
  }
}
