.map {
  width: 896px;
  height: 640px;
  overflow: scroll;
  &.grass {
    .game-tile {
      background-color: green;
      .character.wall {
        background-image: url('/img/tree.png');
      }
    }
  }
  &.cave {
    .game-tile {background-color: gray;}
  }
  .game-row {
    margin: 0;
    padding: 0;
    height: 64px;
    display: flex;
    .game-tile {
      width: 63px;
      height: 63px;
      border: 1px solid #555;
      position: relative;
      span.xy-marker {
        position: relative;
        z-index: 2;
      }
      .character {
        width: 100%;
        height: 100%;
        position:absolute;
        left:0;
        top:0;
        background-size: contain;
        z-index: 1;
        &.cleric {
          background-image: url('/img/cleric.png');
        }
        &.fighter {
          background-image: url('/img/fighter.png');
        }
      }
    }
  }
}

.commandline-container {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  .prompt {
    display: block;
    position: absolute;
    left: 4px;
    top: 5px;
  }
  .commandline {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    border: 0;
    outline: 0;
    padding: 5px;
    padding-left: 20px;
    width: 90%;
  }
}
